body, html {
  height: 100%;
  margin: 0;
}

.bg {
  
  background-image: url("img/2.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}



.form-area{
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-50%);
	width:500px;
	height: 570px;
	box-sizing:border-box;
	background: rgba(0,0,0,0.3);
	padding: 40px;
	color: #FFF;
	border-radius: 5px;




}
h1{
	margin: :0;
	padding: 0 0 20px;
	font-weight: ;
	color:#FFFBE3    ;
	font-family:Bauhaus 93;


}
.bun{
		border:none;
		outline: none;
		height: 40px;
		width: 220px;
		-webkit-transition:all .2s;
		background: #fb2525;
		color:#fff;
		font-size: 18px;
		border-radius: 20px;
		box-shadow: 0px 0px 2px #fff,
					1px 1px 2px #fff;
		cursor: pointer;

}

.box:hover{
	background: #333;
	color:#e3e3e3;
}
.panel-body label{
	width: 200px;
	display: inline-block;

}